* {
    box-sizing: border-box;
}



body {
    font-family: 'Martel Sans', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

header {
    background-color: rgb(116, 120, 186);
    grid-area: header;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 69px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
    
}

nav {
    grid-area: navigation;
    background-color: rgb(77, 77, 111);
}

.nav-container {
    display: flex;
    justify-content: space-around;
    width: 250px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}
.thin {
    font-weight: 100;
}

.bold {
    font-weight: bold;
}

main {
    grid-area: main;
    display: grid;
}

main section {
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(193, 193, 193);
}

h1 {
    /* flex-basis: 60%; */
    font-size: larger;
}

header h3 {
    font-size: small;
}

main h3 {
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
}
.social-text h4 ,
.member-info a {
    color: rgb(116, 120, 186);
}

.member-info a {
    text-decoration: none;
    font-size: small;
}

.switch-light strong {
    font-size: 14px;
}

.temp {
    width: 100%;
}

/* .notification-bell {
    display: flex;
    justify-content: right;
} */

.bell {
    width: 20px;
    fill: white;
}

.user-image,
.member-image {
    border-radius: 50%;
}

.user-image {
    width: 35px;
}

.user-image-container {
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.403);
    height: 35px;
    align-items: center;
}
/* .user {
    width: 35px;
} */


.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}

h3 {
    display: inline;
}

.nav-icons {
    width: 30px;
    filter: brightness(0) invert(1);
}

.main-header {
    display: flex;
    margin-bottom: 15px;
}

.main-header {
    width: 100%;
    height: 50px;
    align-items: center;
}

.headline {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    width: 115px;
}

.tab {
    background-color: rgb(247, 247, 247);
    width: 100%;
    border-left: 1px solid rgb(193, 193, 193);
    border-bottom: 1px solid rgb(193, 193, 193);
    height: 50px;
}

/* .traffic,
.daily,
.mobile,
.social-stats,
.members,
.activity,
.message,
.settings {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(193, 193, 193);
} */

.traffic-nav {
    list-style-type: none;
    display: flex;
    justify-content: end;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 5px;
}

.temp {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.social-stats h3 {
    margin-bottom: 10px;
}

.social-container {
    display: flex;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
    align-items: center;
    background-color: rgb(245, 245, 245);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.social-image {
    background-color: rgb(116, 120, 186);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 5px;
}

.social-icon {
    fill: white;
    transform: scale(50%);
}

.social-text {
    margin-left: 10px;
}

.social-text p {
    font-size: 40px;
    margin: 0;
    font-weight: 100;
    color: rgb(119, 119, 119);
}

.social-text h4 {
    margin: 0;
}

.member,
.recent-activity {
    text-align: center;
    border-bottom: 1px solid rgb(193, 193, 193);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    /* line-height: 2px; */
}

[class='member']:last-of-type,
[class='recent-activity']:last-of-type {
    border-bottom: none;
}

.members-container {
    margin: 0 auto;
    width: 95%;
}

.member-image {
    width: 70px;
}

.member-info p,
.recent-activity p {
    margin: 0;
    font-size: 12px;
}

input,
textarea,
button,
select {
    width: 100%;
    margin-top: 20px;
    /* margin-bottom: 15px; */
    border-radius: 5px;
    border: 1px solid rgb(193, 193, 193);;
}

input,
textarea,
select {
    padding-left: 10px;
}

input,
textarea,
select {
    background-color: rgb(245, 245, 245);
}

input[type='text'] {
    height: 40px;
    margin-top: 15px;
    padding-top: 5px;
}
textarea {
    height: 100px;
    padding-top: 7px;
}
/* ----BUTTONS---- */
button {
    height: 40px;
}

.primary-button {
    color: white;
    background-color: rgb(116, 120, 186);
}

.setting-buttons {
    display: flex;
    gap: 15px;
}

#cancel {
    background-color: rgb(153, 153, 153);
    color: white;
}
/* --------------- */
select:invalid {
    color: #999;
}

.switch-light {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.switch-ios.switch-light > span {
    max-width: 100px;
    margin-left: auto;
    border: 2px solid rgb(192, 192, 192);
    height: 37px;
}



label {
    margin-top: 30px;
}

.switch-ios.switch-light input:checked ~ span {
    border-color: rgb(192, 192, 192);
    box-shadow: inset 0 0 0 30px rgb(116, 120, 186);
}

.switch-ios.switch-light > span span:last-of-type {
    padding-right: 3.875em;
}

.switch-ios.switch-light > span span:first-of-type {
    padding-left: 3.875em;
}

.switch-ios.switch-light a {
    border-width: 0.175em;
    left: 1px;
    top: 3px;
    width: 1.65em;
    height: 1.65em;
}

.switch-ios.switch-light input:checked ~ span a {
    /* left: 100%; */
    border-color: rgb(192, 192, 192);
    margin-left: -1.9em;
}

.switch-ios.switch-light > span span {
    top:4px;
}

.switch span {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
}

select {
    margin-top: 40px;
    height: 40px;;
}

.member:last-of-type ,
.recent-activity:last-of-type {
    padding-bottom: 0;
}

.widget-container-full,
.widget-container-half {
    width: 95vw;
    margin: 0 auto;
    /* height: 250px; */
}

canvas {
    padding-top: 20px;
}

.traffic-nav-link {
    padding: 10px;
    text-align: center;
}

.traffic-nav-link:first-of-type {
    padding: 10px;
    background: rgb(145,199,148);
    width: 75px;
    text-align: center;
    border-radius: 20px;
    color: white;
}

.alert-banner {
    display: flex;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    border-radius: 5px;
    width: 95vw;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(116, 120, 186);
    color: white;
    font-weight: 100;
    font-size: 15px;
}

.alert-banner-close {
    text-decoration: none;
    color: white;
    transition-duration: 500ms;
}
.alert-banner-close:hover {
    font-weight: bolder;
    font-size: 20px;
    /* text-transform: capitalize; */

}

@media screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template: auto;
        grid-template-areas: 
            "header header "
            "navigation main";
    }

    nav {
        width: 65px;
    }

    .nav-container {
        display: grid;
        width: initial;
    }

    main {
        width: 100%;
    }    

    .daily ,
    .mobile {
        width: 50vw;
    }

    .mobile {
        border-left: 1px solid rgb(193, 193, 193);
    }

    .widget-container-half {
        width: 95%;
    }
    
    .side-by-side {
        display: flex;
        justify-content: space-between;
    }

    .social-stats h3 {
        display: inline-block;
    }
}